div.card {
  border-color: #42a5f5;
  border-width: 4px;
  border-radius: 1%;
  width: 60%;
  margin-left: 20px;
  font-family: "Rubik", sans-serif;
  position: static;
}
h2,
h3 {
  margin-left: 20px;
}

h1.home-page {
  color: #596aca;
  font-size: 20px;
  margin-left: 15px;
}
a {
  text-decoration: none;
  margin-left: 15px;
}
div.city-form {
  color: #999fae;
  font-size: 15px;
  margin-left: 15px;
  margin-top: 10px;
}
div.container-fluid {
  background-color: white;
}
nav.bg-light {
  background-color: white !important;
}
input.form-control.me-2 {
  padding-top: 0.1em;
  padding-bottom: 0.1em;
  padding-right: 0.3em;
  padding-left: 0.3em;
}
h2.main-city {
  color: #fb916f;
  margin-left: 15px;
}
h3.date {
  color: #fca727;
  font-size: 23px;
  margin-left: 15px;
}
p.forecast {
  color: #999fae;
  font-size: 23px;
  margin-left: 15px;
}
span.icon-and-forecast {
  font-size: 50px;
  margin-left: 15px;
}
ul {
  list-style-type: none;
}
div.row {
  margin-top: 20px;
}
ul.precipitation {
  font-size: 23px;
  color: #999fae;
  margin-left: -25px;
}
ul.week-day {
  font-size: 23px;
  color: #999fae;
  margin-left: -10px;
}

li.temperature {
  font-size: 20px;
  color: #999fae;
}
.units {
  position: relative;
  top: -25px;
}
a {
  margin-left: 3px;
}
.btn-outline-primary {
  margin-left: 10px;
}
